#home{
    padding: 50px 0;
}
#home nav.menu{
    margin-bottom: 30px;
}
#home nav.menu ul{
    display: flex;
    align-items: center;
}
#home nav.menu ul li{
    margin-right: 20px;
    cursor:pointer;
    font-weight: 600;
}
#home nav.menu ul li.active{
    border-bottom: 2px solid rgb(3 69 171);
}
#home div.banner{
    margin-bottom: 50px;
    margin-left:auto;
    margin-right: auto;
    width:100%;

}
#home div.banner img{
    margin:0 auto;
}
/* #home div.banner .slick-prev,#home div.banner .slick-next{
    color:#fff;
    background-color: #000;
} */
#home div.products{
   
}
#home div.products ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -40px;
}
#home div.products ul li{
    margin-right: 40px;
    margin-bottom: 50px;
}
#home div.products ul li:hover{
    transform: scale(1.05);
    box-shadow: 1px 8px 20px grey;
    transition:  box-shadow .2s ease-in;
}


@media all and (max-width:768px){
    #header div.nav-middle {
        display: none;
    }
}

@media all and (max-width:480px){
    #home div.products ul {
        margin-right: 0px;
    }
    #home div.products ul li {
        margin-right: 0;
    }
}