#checkout{
    height: 100vh;
    margin-top: 100px;
    /* margin-bottom: 50px; */
}
#checkout form{
    display:flex;
    justify-content:space-between;
}
#checkout form div.left{
    width:40%;
}
#checkout form div.right{
    width:40%;
}
#checkout form div.right button.checkout-btn{
    padding: 8px 10px;
    border-radius: 8px;
    border:none;
    outline: none;
    width: 300px;
    text-align: center;
    background-color: rgb(3 69 171);
    color: #fff;
}