.card{
    width:18rem;
    height:30rem;
}
.card .image-container{
    width:100%;
    height:60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .card-img-top {
    width:60%;
    max-height: 90%;
}
.card .card-title {
    font-size: 18px;
}
.card p{
    font-size: 30px;
    font-weight: 600;
}


@media all and (max-width:980px){
    .card{
        width:16rem;
        height:26rem;
    }
    .card p {
        font-size: 25px;
    }
}

@media all and (max-width:480px){
    .card {
        width: 100%;
    }
}