#cart{
    min-height: 250px;
    margin: 50px 0;
    width: 100%;
}
#cart div.head{
    width:90%;
    background-color: #a0ecfe;
    padding : 10px;
    text-align: center;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
#cart ul.cart-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cart li.cart-item{
    display: flex;
    justify-content: space-between;
    min-height:152px;
    width: 90%;
    margin-bottom: 30px;
    padding:20px;
    padding-right: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: relative;
}
#cart li.cart-item a{
    width: 50%;
    margin-right: 40px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
#cart li.cart-item img{
    width: 20%;
    height: 100%;
    margin-right: 20px;
}
#cart li.cart-item h5{
    width: 100%;
    margin-right: 40px;
}
#cart li.cart-item div.quantity{
    width: 10%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}
#cart li.cart-item div.quantity p{
    
}
#cart li.cart-item div.quantity select{
    width:50px;
}
#cart li.cart-item div.price{
    width: 10%;
    /* display: flex;
    align-items: right;
    flex-direction: column; */
    text-align: left;
}
#cart li.cart-item div.price p{
    
}
#cart li.cart-item div.subtotal{
    margin-left: 10px;
    text-align: right;
}
#cart li.cart-item div.close-btn{
    position: absolute;
    top:0;
    right:0;
    background-color: rgb(3 69 171);
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    cursor: pointer;
}
#cart li.cart-item div.close-btn .MuiSvgIcon-root{
    fill:#fff;
    width:20px;
    height:20px;
}
#cart h4{
    text-align: right;
    padding-bottom: 10px;
    border-bottom: 2px solid #e7e7e7;
    margin: auto;
    width: 90%;
}
#cart div.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#cart div.buttons a.shopping,button.place-order{
    padding:8px 10px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    outline: none;
    border:none;
}
#cart div.buttons a.shopping{
    border:2px solid rgb(3 69 171);
}
#cart div.buttons button.place-order{
    background-color: rgb(3 69 171);
    color:#fff;
}
#cart div.buttons button.place-order:hover{
    transition:  all .2s ease-in;
    background-color: rgb(4, 96, 233);
}
#cart div.empty{
    text-align: center;
}
#cart div.empty h3{
  font-family: Roboto;
}
#cart div.empty a{
    padding:8px 10px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    border:2px solid rgb(3 69 171);
    display: block;
    margin:auto;
    margin-top: 50px;
}

@media all and (max-width:1280px){
    /* #cart li.cart-item h5 {
        width: 50%;
    } */
    #cart li.cart-item {
        padding-right: 25px;
    }
}

@media all and (max-width:980px){
    #cart li.cart-item h5 {
        font-size: 16px;
    }
    #cart li.cart-item div.price {
        width: 15%;
    }
}

@media all and (max-width:768px){
    #cart li.cart-item h5 {
        font-size: 14px;
    }
    #cart li.cart-item div.quantity p{
        font-size: 12px;
    }
    #cart li.cart-item div.price p{
        font-size: 12px;
    }
    #cart div.buttons a.shopping, button.place-order {
        width: 200px;
    }
}

@media all and (max-width:640px){
    #cart li.cart-item img{
        display: none;
    }
    #cart li.cart-item h5 {
        width: 90%;
    }
    #cart li.cart-item a {
        width: 50%;
        margin-right: 0;
    }
}

@media all and (max-width:480px){
    #cart li.cart-item h5 {
        font-size: 12px;
    }
    #cart li.cart-item a {
        width: 100%;
    }
    #cart li.cart-item{
        flex-wrap: wrap;
    }
    #cart li.cart-item div.price {
        width: 20%;
    }
    #cart div.buttons {
        flex-direction: column-reverse;
    }
    #cart div.buttons button.place-order {
        margin-bottom: 20px;
    }
}